<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="markup/css/reset.css">
        <link rel="stylesheet" href="markup/css/main.css">
        <script src="markup/js/vendor/modernizr-2.6.2.min.js"></script>
    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Locations</title>

        <style>
        table,th,td{
            padding: 2px;
        }        
        #map {
          width: 100%;
          height: 600px;
        }
        #controls {
          margin: 0;
          list-style: none;
        }
        #controls li {
          display: inline;
          margin-left: 42px;
          font-family: Sans-Serif;
          font-size: 10pt;
        }
        #fusion-hm-li {
          visibility: hidden;
          margin-left: 8px;
        }    
        </style>

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markermanager/1.0/src/markermanager.js"></script>
        <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js"></script>

        <script>
            
            //uncomment this to get number of photos per user
            //users.length

            <% if(users){ %> 

              var users = {
                'users': [
                  <% for(var i=0; i<20; i++) {%>
                      <% if(users[i]){ %>                    
                          {
                            'info': "<%= users[i].name %> (<%= users[i].id %>) - <%= users[i].counter %>",
                          },
                      <% }%>                                     
                  <% }%>                
                ]
              }

            <% }%> 
            
            //likesArr.length

            <% if(likesArr){ %> 

              var likes = {
                'likes': [
                  <% for(var i=0; i<20; i++) {%>
                                        
                          {
                            'info': "http://www.2by2app.com/pdp?id=<%= likesArr[i].photo.id %> (<%= likesArr[i].filter %>) - <%= likesArr[i].counter %>",
                          },
                                                          
                  <% }%>                
                ]
              }

            <% }%>

            var markers = {
              'locations': [
                <% for(var i=0; i<latLongArr.length; i++) {%>                    
                    <% if(latLongArr[i].half){ %>
                        {
                          'name': '<%= latLongArr[i].half.filter %>',
                          'location': [<%= latLongArr[i].half.lat %>,<%= latLongArr[i].half.lon %>]
                        },
                    <% }%>
                    <% if(latLongArr[i].full){ %>
                        {
                          'name': '<%= latLongArr[i].full.filter %>',
                          'location': [<%= latLongArr[i].full.lat %>,<%= latLongArr[i].full.lon %>]
                        },
                    <% }%>
                <% }%>                
              ]
          }
        </script>
        
        <script src="markup/js/maps.js"></script>   
        

        
    </head>
    <body>
        <div id="map"></div>
        <div class="container">
            <% include header %>
            <h1>Photo Locations:</h1>

             
             <ul id="controls" style="display:none;">
              <li>
                <label for="mgr-cb">Marker Manager</label>
                <input type="checkbox" id="mgr-cb" name="mgr-cb" />
              </li>
              <li>
                <label for="mc-cb">Marker Clusterer</label>
                <input type="checkbox" id="mc-cb" name="mc-cb" />
              </li>
              <li>
                <label for="fusion-cb">Fusion Table Layer</label>
                <input type="checkbox" id="fusion-cb" name="fusion-cb" />
              </li>
              <li id="fusion-hm-li">
                <label for="fusion-hm-cb">with heatmap</label>
                <input type="checkbox" id="fusion-hm-cb" name="fusion-hm-cb" />
              </li>
              <li>
                <label for="kml-cb">KML Layer</label>
                <input type="checkbox" id="kml-cb" name="kml-cb" />
              </li>
            </ul>

            

            <table style="width:100%">
                <tr>
                    <td><b>Count (<%= totalPhotos %>)</b></td>
                    <td><b>Location (<%= locations.length %>)</b></td>  
                </tr>

                <tr>
                    <td></td>
                    <td></td>  
                </tr>
                
                <% for(var i=0; i<locations.length; i++) {%>
                    <tr>
                    <td><%= locations[i].counter %></td><td><%= locations[i].loc %></td>
                    </tr>
                <% }%>           
            
            </table> 

            <ul>

            

            </ul>

        
        
            <% include footer %>

        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.1.15.min.js"></script>
        
        <script src="markup/js/plugins.js"></script>
        <script src="markup/js/generic.js"></script>
        
        
    </body>
</html>