<section id="pagination">
	<% if(page > 0){ %>              
	    <a class="previous" totalPhotos="<%= totalPhotos %>" totalPages="<%= totalPages %>" href=""><- previous</a>
	<% } %> 
	<% if(page < totalPages){ %>              
	    <a class="next" totalPhotos="<%= totalPhotos %>" totalPages="<%= totalPages %>" href=""> next -></a>
	<% } %>

	<br>Page <%= Number(page)+1 %> out of <%= Number(totalPages)+1 %> (<%= totalPhotos %> photos)
</section>