<div class="picture-viewer">               
    <div class="picture">                       
        <a href="pdp?id=<%= photoID %>"><img src="<%= imageURL %>" alt="" /></a>

        
        <div class="picture-options">
            <a href="#" class="likes left">
                <span></span><%= likeLength %>
            </a>
            <a href="#" class="comments left">
                <span></span><a id="comment_<%= photoID %>"></a>
            </a>                                
            
            <br class="clr" />
        </div>
    </div>
    <div class="picture-map">
        <img src="<%= mapImageURL %>" alt="" />
        
        <div class="user-list">
            <nav>
                <ul>
                    <li>
                        <span></span> <a href="profile?id=<%= user.id %>"><%= username_half %></a>
                    </li>
                    
                    <% if (userFull) { %>
                        <li>
                        <span></span> <a href="profile?id=<%= userFull.id %>"><%= username_full %></a>
                        </li>
                    <% } %>
                    
                </ul>
            </nav>
        </div>
    </div>
    </div>

    
     <% if (currentUser) { %>
        <div class="picture-data">
            <form class="upload-comment" action="">
                <input id="commentText" type="text" placeholder="Type a nice comment here..." value="" />
                <input id="commentButton" type="button" value="Post" />
            </form>
            
            <nav class="like-list">
                <% if (likeLength > 0) { %>
                <h3>Likers</h3>
                <% } %>
                <ul>
                    
                    
                    
                </ul>
                
            </nav>
            
            <nav class="comment-list">                                        
                <ul>                                                                              
                                                      
                </ul>
                
            </nav>
            
        </div>
    <% } %>