<div class="picture-viewer">               
    <div class="picture">                       
        <a href="/pdp/<%= photoID %>"><img src="<%= imageURL %>" alt="" /></a>

        
        <div class="picture-options">
            <a href="#" data="<%= photoID %>" likeLength="<%= likeLength %>" class="likes left">
                <span></span><%= likeLength %>
            </a>
            <a href="#" class="comments left">
                <span></span>0<a id="comment_<%= photoID %>"></a>
            </a>

            <% include social %>                             
            
            <br class="clr" />
        </div>
    </div>
    <div class="picture-map">
        <img src="<%= mapImageURL %>" alt="" />
        
        <div class="user-list">
            <nav>
                <ul>
                    <% if (user) { %>
                        <li>
                            <span></span> <a href="/profile/<%= user._serverData.username %>"><%= username_half %></a>
                        </li>
                    <% }else{ %>
                        <li>
                            <span></span> <a href="#">unknown</a>
                        </li>
                    <% } %>
                    
                    <% if (userFull) { %>
                        <li>
                        <span></span> <a href="/profile/<%= userFull._serverData.username %>"><%= username_full %></a>
                        </li>
                    <% }else{ %>
                        <li>
                            <span></span> <a href="#">unknown</a>
                        </li>
                    <% } %>
                    
                </ul>
            </nav>
        </div>
    </div>
    <br class="clr" />
    </div>

    
     
        <div class="picture-data">
            <form class="upload-comment" action="">
                <input id="commentText" type="text" placeholder="Type a nice comment here..." value="" />
                <input id="commentButton" type="button" value="Post" />
            </form>
            
            <nav class="like-list">
                <% if (likeLength > 0) { %>
                <h3>Likers</h3>
                <% } %>
                <ul>
                    
                    
                    
                </ul>
                
            </nav>
            
            <nav class="comment-list">                                        
                <ul>                                                                              
                                                      
                </ul>
                
            </nav>
            
        </div>
    