<% for(var i=0; i<allPhotosData.length; i++) {%>
    <div class="picture-viewer">               
        <div class="picture">
            
            <a href="/pdp/<%= allPhotosData[i].photoID %>"><img src="<%= allPhotosData[i].imageURL %>" alt="" /></a>
            
            <div class="picture-options">
                <a href="#" data="<%= allPhotosData[i].photoID %>" likeLength="<%= allPhotosData[i].likeLength %>" class="likes left">
                    <span></span><%= allPhotosData[i].likeLength %>
                </a>
                <a href="#" class="comments left">
                    <span></span>0<a id="comment_<%= allPhotosData[i].photoID %>"></a>
                </a>

                <% include social-profile %>                              
                
                <br class="clr" />
            </div>
        </div>
        <div class="picture-map">
            <img src="<%= allPhotosData[i].mapImageURL %>" alt="" />
            
            <div class="user-list">
                <nav>
                    <ul>
                        <% if (allPhotosData[i].user) { %>
                            <li>
                                <span></span> <a href="/profile/<%= allPhotosData[i].user._serverData.username %>"><%= allPhotosData[i].user._serverData.username %></a>
                            </li>
                        <% } %>
                        
                        <% if (allPhotosData[i].userFull) { %>
                            <li>
                                <span></span> <a href="/profile/<%= allPhotosData[i].userFull._serverData.username %>"><%= allPhotosData[i].username_full %></a>
                            </li>
                        <% } %>
                        
                    </ul>
                </nav>
            </div>
        </div>

        <br class="clr" />
    </div>
<% } %> 